---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Picture } from "@astrojs/image/components";

const profile ="./profile_hilmi.jpg";


const team = [
  {
    name: "Abdelfattah Hilmi",
    title: "Cloud & Devops Engineer",
    avatar: {
      src: profile,
      width: 480,
      height: 560,
    },
  },
];
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">I am a simple man with a knack for Tech, Programming 🧑‍💻, Cloud Computing ☁️ and desire for growth. If you want to know more about me and what I do, check out my projects or the  <a class="text-black font-semibold" href="/blog"> blog page. </a></Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Empowering the world with Astro.
      </h2>
      <!-- TODO change the following to projects -->
      <p class="text-lg leading-relaxed text-slate-500">
        We're a multi-cultural team from around the world! We come from diverse
        backgrounds, bringing different personalities, experiences and skills to
        the job. This is what makes our team so special.
      </p>
    </div>
    <div class="grid  place-content-center gap-10 mx-auto max-w-4xl mt-12">
      {
        team.map((item) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                {...item.avatar}
                format="avif"
                alt="Team"
                widths={[200, 400]}
                aspectRatio="1:1"
                sizes="(max-width: 800px) 100vw, 400px"
                class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
                format="avif"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800"> {item.name}</h2>
              <h3 class="text-sm text-slate-500"> {item.title}</h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
