---
// @ts-ignore
import { Icon } from "astro-icon";

const techs:string[] = ["python","go","java","javascript","django-icon","flask","astro","react","docker-icon","linux-tux","kubernetes","terraform-icon","ansible","google-cloud","gitlab","github-icon","github-actions","flutter"];
---

<div class="mt-4" >
  <h2 class="text-center text-lg text-slate-600">Favourite tools and techs:</h2>
  <div class="max-w-3xl m-auto flex justify-center" >
    <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
  
    {
      techs.map(
        function generate_icons(tech){
          const icon =  "logos:"+tech;
          return tech!=="go" ? <Icon class="h-8 md:h-12  hover:rotate-12 "  name={icon}/> : <Icon class="h-8 md:h-12  hover:rotate-12 "  name="vscode-icons:file-type-go-gopher"/> 
        }
        )
      }
    </div>
  </div>
</div>

