---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">I prefer to use :</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap ">
    <Icon class="h-8 md:h-12" name="simple-icons:docker" />
    <Icon class="h-8 md:h-12" name="simple-icons:python" />
    <Icon class="h-8 md:h-12" name="simple-icons:java" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" />
    <Icon class="h-8 md:h-12" name="simple-icons:django" />
    <Icon class="h-8 md:h-12" name="simple-icons:flask" />
    <Icon class="h-8 md:h-12" name="simple-icons:kubernetes" />
    <Icon class="h-8 md:h-12" name="simple-icons:terraform" />
    <Icon class="h-8 md:h-12" name="simple-icons:gitlab" />
    <Icon class="h-8 md:h-12" name="simple-icons:github" />
    <Icon class="h-8 md:h-12" name="simple-icons:githubactions" />
    <Icon class="h-8 md:h-12" name="simple-icons:googlecloud" />
    <Icon class="h-8 md:h-12" name="simple-icons:flutter" />
    </div>
</div>
