---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/portfolioScreenCatch.png", // TODO  add own screen shot
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Cloud"
  : "Abdelfattah Hilmi's personal portfolio and blog";

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/HilmiLOGO.png" />
    <meta name="generator" content={Astro.generator} />
  <!-- Google tag (gtag.js) -->
    <script type="text/partytown"  src="https://www.googletagmanager.com/gtag/js?id=G-DBLFM999PM"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DBLFM999PM');
    </script>
    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
        title={makeTitle}
        description=""
        canonical={canonicalURL}
        twitter={{
          creator: "@Hilmi_Abdel",
          site: "@Hilmi_Abdel",
          card: "summary_large_image",
        }}
        openGraph={{
          basic: {
            url: canonicalURL,
            type: "website",
            title: `Abdelfattah Hilmi's personal portfolio and blog`,
            image: resolvedImageWithDomain,
          },
          image: {
            alt: "Abdelfattah Hilmi's portfolio @: pyhilmi.online ",
          },
        }}
      />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
